[submodule "nodes"]
	path = nodes
	url = https://github.com/KnotLink-Protocol/KNodeIndex.git
[submodule "recipes-market"]
	path = recipes-market
	url = https://github.com/KnotLink-Protocol/KRecipeMarket.git
